# Ignore Arduino/ESP32 compiled binaries
EspScopeGen/*.bin
EspScopeGen/*.elf
EspScopeGen/*.hex

# Ignore temp files and notes
كلام

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS specific files
.DS_Store
Thumbs.db
Desktop.ini
